import React from 'react';
import { render } from 'react-dom';

class Header extends React.Component {
  render() {
    return (
      <div className='Header'>
        <img
          alt='Logo'
          src='/images/logo.png'
        />
        <h1>{this.props.title}</h1>
      </div>
    );
  }
}

Header.propTypes = {
  title: React.PropTypes.string.isRequired
};

render(
  <Header title='My Super Header' />,
  document.getElementById('header')
);
