export const Toggle = React.createClass({
  getInitialState() {
    return {
      isOn: false,
    };
  },

  toggle() {
    this.setState({
      isOn: !this.state.isOn,
    });
  },

  render() {
    const { isOn } = this.state;
    return (
      <div
        onClick={this.toggle}
        style={{
          background: isOn ? 'yellow' : 'gray',
          color: isOn ? 'purple' : 'white',
        }}>
        {isOn ? 'On' : 'Off'}
      </div>
    );
  },
});
